sdlf-stage-dataquality/state-machine/data-quality.asl.json
{
  "Comment": "Simple Glue Data Quality transform",
  "StartAt": "Try",
  "States": {
    "Try": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Initial Check",
          "States": {
            "Initial Check": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "OutputPath": "$.Payload",
              "Parameters": {
                "Payload.$": "$",
                "FunctionName": "${lStep1}:$LATEST"
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 6,
                  "BackoffRate": 2
                }
              ],
              "Next": "Evaluate Data Quality Suggestions"
            },
            "Evaluate Data Quality Suggestions": {
              "Type": "Task",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "ResultPath": "$.body.glue.suggestions_run_output",
              "Parameters": {
                "JobName.$": "$.body.glue.suggestions_job_name",
                "WorkerType.$": "$.body.glue.WorkerType",
                "NumberOfWorkers.$": "$.body.glue.NumberOfWorkers",
                "Arguments.$": "$.body.glue.suggestions_arguments"
              },
              "Next": "Evaluate Data Quality Verification"
            },
            "Evaluate Data Quality Verification": {
              "Type": "Task",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "ResultPath": "$.body.glue.verification_run_output",
              "Parameters": {
                "JobName.$": "$.body.glue.verification_job_name",
                "WorkerType.$": "$.body.glue.WorkerType",
                "NumberOfWorkers.$": "$.body.glue.NumberOfWorkers",
                "Arguments.$": "$.body.glue.verification_arguments"
              },
              "Next": "Run Glue Crawler"
            },
            "Run Glue Crawler": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
              "ResultPath": null,
              "Parameters": {
                "Name.$": "$.body.glue.crawler_name"
              },
              "End": true
            }
          }
        }
      ],
      "End": true,
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": null,
          "Next": "Fail"
        }
      ]
    },
    "Fail": {
      "Type": "Fail"
    }
  }
}