sdlf-utils/ingestion-examples/sqoop/sdlf-stageX/state-machine/stage-x.asl.json
{
  "Comment": "Simple pseudo flow",
  "StartAt": "Try",
  "States": {
    "Try": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Get available clusterId",
          "States": {
            "Get available clusterId": {
              "Type": "Task",
              "Resource": "${lStep1}",
              "Comment": "Get available clusterId",
              "Next": "Available cluster?"
            },
            "Available cluster?": {
                "Type": "Choice",
                "Choices": [{
                    "Variable": "$.clusterId",
                    "IsPresent": true,
                    "Next": "Sqoop Submit"
                },{
                    "Variable": "$.clusterId",
                    "IsPresent": false,
                    "Next": "Create Cluster"
                }],
                "Default": "Create Cluster"
            },
            "Create Cluster": {
              "Type": "Task",
              "Resource": "${lStep2}",
              "Comment": "Create Cluster",
              "ResultPath": "$.clusterId",
              "Next": "Sqoop Submit"
            },
            "Sqoop Submit": {
              "Type": "Task",
              "Resource": "${lStep3}",
              "Comment": "Sqoop Submit",
              "ResultPath": "$.StepId",
              "Next": "Wait"
            },
            "Get Job status": {
              "Type": "Task",
              "Resource":"${lStep4}",
              "Comment": "Get Job status",
              "ResultPath": "$.Status",
              "Next": "Did Job finish?"
            },
            "Did Job finish?": {
                "Type": "Choice",
                "Choices": [{
                    "Variable": "$.Status",
                    "StringEquals": "COMPLETED",
                    "Next": "Finished"
                },{
                    "Variable": "$.Status",
                    "StringEquals": "FAILED",
                    "Next": "Job Failed"
                },{
                    "Variable": "$.Status",
                    "StringEquals": "CANCELLED",
                    "Next": "Job Failed"
                }],
                "Default": "Wait"
            },
            "Wait": {
                "Type": "Wait",
                "Seconds": 150,
                "Next": "Get Job status"
            },
            "Job Failed": {
              "Type": "Fail",
              "Error": "Job Failed",
              "Cause": "Job failed, please check the logs"
              },
            "Finished": {
              "Type": "Succeed"
            }
          }
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [ "States.ALL" ],
          "ResultPath": null,
          "Next": "Error"
        }
      ],
      "Next": "Done"
    },
    "Done": {
      "Type": "Succeed"
    },
    "Error": {
      "Type": "Task",
      "Resource": "${lError}",
      "Comment": "Send Original Payload to DLQ",
      "Next": "Failed"
    },
    "Failed": {
      "Type": "Fail"
    }
  }
}