sdlf-utils/pipeline-examples/manifests/stageB/state-machine/stage-b.asl.json
{
  "Comment": "Simple pseudo flow",
  "StartAt": "Try",
  "States": {
    "Try": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Check if Manifest",
          "States":{
            "Check if Manifest": {
              "Type": "Task",
              "Resource": "${lStep4}",
              "Comment": "Check if it is manifest driven",
              "Next": "Is Manifest Process"
            },
            "Is Manifest Process": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.body.manifest_enabled",
                  "StringEquals": "True",
                  "Next": "Process Manifest"
                },
                {
                  "Variable": "$.body.manifest_enabled",
                  "StringEquals": "False",
                  "Next": "Process Data"
                }
              ],
              "Default": "Process Data"
            },
            "Process Manifest": {
              "Type": "Task",
              "Resource": "${lStep5}",
              "Comment": "Process Manifest Data",
              "Next": "All Files Processed"
            },
            "Process Data": {
              "Type": "Task",
              "Resource": "${lStep1}",
              "Comment": "Process Data",
              "ResultPath": "$.body.job",
              "Next": "Wait"
            },
            "All Files Processed": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.body.data_file_wait",
                  "StringEquals": "True",
                  "Next": "Process Manifest"
                },
                {
                  "Variable": "$.body.data_file_wait",
                  "StringEquals": "False",
                  "Next": "Process Data"
                }
              ],
              "Default": "Process Data"
            },
            "Wait": {
                "Type": "Wait",
                "Seconds": 15,
                "Next": "Get Job status"
            },
            "Get Job status": {
                "Type": "Task",
                "Resource": "${lCheckJob}",
                "ResultPath": "$.body.job",
                "Next": "Did Job finish?"
            },
            "Did Job finish?": {
                "Type": "Choice",
                "Choices": [{
                    "Variable": "$.body.job.jobDetails.jobStatus",
                    "StringEquals": "SUCCEEDED",
                    "Next": "Run Glue Crawler"
                },{
                    "Variable": "$.body.job.jobDetails.jobStatus",
                    "StringEquals": "FAILED",
                    "Next": "Job Failed"
                }],
                "Default": "Wait"
            },
              "Job Failed": {
              "Type": "Fail",
              "Error": "Job Failed",
              "Cause": "Job failed, please check the logs"
            },
            "Run Glue Crawler": {
              "Type": "Task",
              "Resource": "${lStep2}",
              "Comment": "Run Glue Crawler",
              "ResultPath": "$.statusCode",
              "Next": "Post-update Comprehensive Catalogue"
            },
            "Post-update Comprehensive Catalogue": {
              "Type": "Task",
              "Resource": "${lStep3}",
              "Comment": "Post-update Comprehensive Catalogue",
              "ResultPath": "$.statusCode",
              "End": true
            }

          }
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [ "States.ALL" ],
          "ResultPath": null,
          "Next": "Error"
        }
      ],
      "Next": "Done"
    },
    "Done": {
      "Type": "Succeed"
    },
    "Error": {
      "Type": "Task",
      "Resource": "${lError}",
      "Comment": "Send Original Payload to DLQ",
      "Next": "Failed"
    },
    "Failed": {
      "Type": "Fail"
    }
  }
}