sdlf-utils/pipeline-examples/dataset-dependency/stageA/state-machine/stage-a.asl.json
{
  "Comment": "Dataset Dependency Check",
  "StartAt": "Check Dataset Dependency Status",
  "States": {
    "Check Dataset Dependency Status": {
      "Type": "Task",
      "Resource": "${lStep1}",
      "ResultPath": "$",
      "Next": "Did dependent datasets finished processing?"
    },
    "Did dependent datasets finished processing?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.body.dependent_datasets_status",
          "StringEquals": "SUCCEEDED",
          "Next": "Execute Transformation"
        },
        {
          "And": [
            {
              "Variable": "$.body.dependent_datasets_status",
              "StringEquals": "FAILED"
            },
            {
              "Variable": "$.body.retry_count",
              "NumericLessThan": 3
            }
          ],
          "Next": "Retry after one hour"
        }
      ],
      "Default": "Retries finished"
    },
    "Retry after one hour": {
      "Type": "Wait",
      "Seconds": 3600,
      "Next": "Check Dataset Dependency Status"
    },
    "Retries finished": {
      "Type": "Fail",
      "Error": "Dataset Dependency Status",
      "Cause": "Number of retries exceeded"
    },
    "Execute Transformation": {
      "Type": "Task",
      "Resource": "${lStep2}",
      "ResultPath": "$.body.job",
      "Next": "Wait"
    },
    "Wait": {
      "Type": "Wait",
      "Seconds": 3600,
      "Next": "Get transformation job Status"
    },
    "Get transformation job Status": {
      "Type": "Task",
      "Resource": "${lstep3}",
      "ResultPath": "$.body.job",
      "Next": "Did transformation job finish?"
    },
    "Did transformation job finish?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.body.job.jobDetails.jobStatus",
          "StringEquals": "SUCCEEDED",
          "Next": "Job succeeded"
        },
        {
          "Variable": "$.body.job.jobDetails.jobStatus",
          "StringEquals": "FAILED",
          "Next": "Job failed"
        }
      ],
      "Default": "Wait"
    },
    "Job failed": {
      "Type": "Fail",
      "Error": "Transformation job",
      "Cause": "Transformation job failed, please check the logs"
    },
    "Job succeeded": {
      "Type": "Pass",
      "End": true
    }
  }
}