sdlf-utils/data_lake_testing_pipeline/src/state_machines/TestingEMRJob.json
{
  "Comment": "A generic template to execute a Lambda function that executes a redshift job",
  "StartAt": "Trigger EMR Job",
  "States": {
    "Trigger EMR Job": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-west-2:983401557995:function:TestDataLakeEMR",
      "Parameters": {
        "ClusterId.$": "$.ClusterId"
      },
      "Next": "Hive Query on Parquet"
    },
    "Hive Query on Parquet": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.status",
          "StringEquals": "FAILED",
          "Next": "Failed"
        },
        {
          "Variable": "$.status",
          "StringEquals": "SUCCEEDED",
          "Next": "Complete"
        }
      ],
      "Default": "Failed"
    },
    "Failed": {
     "Type": "Task",
     "Resource": "arn:aws:states:::sns:publish",
     "Parameters": {
       "TopicArn.$": "$.input.sns_topic_arn",
       "Message": "Data Lake Job failed. Check AWS Console for details"
     },
     "End": true
    },
    "Complete": {
      "Type": "Succeed"
    }
  }
}
